body {
    background-color: antiquewhite;
}

.flex {
    display: flex;
}

footer {
    background-color: #c4c4c4;
    margin: 1px;
    padding: 0 1em;
    border: 1px solid;
    border-radius: 50px;
}

nav {
    background-color: #c4c4c4;
    margin: 1px;
    padding: 0 1em;
    border: 1px solid;
    border-radius: 50px;
}

nav ul{
    min-height: 2em;
    display: flex;
    list-style: NONE;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.flex_grow {
    flex-grow: 1;
}

.main_container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.element , .main_element {
    width : 150px;
    height : 200px;
    border: 1px solid;
    border-radius: 20%;
}